* {
    padding: 0;
    margin: 0;
    font-family: 'Staatliches', cursive;
}

body {
    text-align: center;
}

.haha {
    padding-top: 200px;
}

.haha h1 {
    padding-bottom: 20px;
}